*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background:linear-gradient(to top right,rgb(13, 14, 14), rgb(93, 100, 107));
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    display: inline-block;
}

form{
    background:linear-gradient(to bottom left,rgb(13, 14, 14), rgb(93, 100, 107));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 25px 0 black;
    max-width: 300px;
}

input, #submit{
    background:linear-gradient(to top right,rgb(13, 14, 14), rgb(93, 100, 107));
    box-shadow: 0px 10px 25px 0 black;
    border: none;
    border-radius: 15px;
    color: whitesmoke;
    padding:  10px 20px 10px 20px;
}

input{
    margin-bottom: 15px;
    cursor: text;
}

label{
    color: whitesmoke;
}

#submit{
    cursor: pointer;
}

#rm{
    cursor: pointer;
}

.inputContainer{
    position: relative;
}

.inputContainer label{
    font-style: italic;
    position: absolute;
    opacity: 0.5;
    top:20%;
    transform: translateY(-50%);
    left: 5%;
    transition: left 0.5s, opacity 0.5s;
}

input:focus + label,
input:not(:placeholder-shown)+label{
    left:200px;
    opacity:0;
}

input:focus,
#submit:focus{
    outline: solid 2px black;
}

p{
    margin-top:20px;
}
